<nav class="navbar navbar-expand-lg navbar-dark" style="background-color: #0e4142 ;">

  <button class="navbar-toggler" type="button"
          (click)="toggleNavbar()">
    <span class="navbar-toggler-icon"></span>
  </button>

<div class="collapse navbar-collapse" [ngClass]="{ 'show': navbarOpen }">
  <span class="navbar-text">
    <fa name="phone"></fa> +57 300 400 90 25
  </span>
  <ul class="navbar-nav mr-auto">
    <li class="nav-item active">
      <a routerLink="/home" routerLinkActive ="active" class="nav-link">Inicio</a>
    </li>
    <li class="nav-item">
      <a routerLink="/catalog" routerLinkActive ="active" class="nav-link">Catálogo</a>
    </li>
    <li class="nav-item">
      <a routerLink="/promo" routerLinkActive ="active" class="nav-link">Promociones</a>
    </li>
    <li class="nav-item">
      <a routerLink="/ourcompany" routerLinkActive ="active" class="nav-link">Nuestra empresa</a>
    </li>
    <li class="nav-item">
      <a routerLink="/contactus" routerLinkActive ="active" class="nav-link">Contactenos</a>
    </li>
  <form class="form-inline my-2 my-lg-0">
    <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
    <button class="btn btn-outline-success my-2 my-sm-0" type="submit"><fa name="search"></fa> </button>
  </form>
  <pre style="display:inline">&#09;</pre>
  <li class="nav-item dropdown">
    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
      <fa name="user"></fa> Ingresar
    </a>
    <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
       <a class="dropdown-item" href="#">Action</a>
       <a class="dropdown-item" href="#">Another action</a>
       <a class="dropdown-item" href="#">Something else here</a>
    </div>
  </li>
  </ul>
  </div>
</nav>
